<header>
  <h1>Gifs of the Day</h1>
  <form action="/search" method="post">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>"/>
    <input type="text" name="keyword" placeholder="Enter term or phrase..."/>
    <button id="search-btn" type="submit">Search</button>
  </form>
</header>
<content>
  <ul class ='index'>
    <% @gifs.each do |gif| %>
      <li class='gif'>
        <a href="<%= gif[:url] %>">
          <img src="<%= gif[:image][:url] %>" width="<%=gif[:width]%>"
            height="<%= gif[:height] %>"/>
        </a>
      </li>
    <% end %>
  </ul>
</content>
